@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
      url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
      url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root{
--color-blue:#5267DF;
--color-pink:#FA5959;
--color-grey:#9194A2;
--color-dark-blue:#242A45;
--color-white:#fff;
--button-bg:#F7F7F7;
}

html {
  box-sizing: border-box;
  height: 100%;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-dark-blue);
  mix-blend-mode: normal;
  background-color: #fff;
  }

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.site__header{
  padding: 48px 0;
 }
.header__nav{
  display: flex;
  align-items: center;
}
.header__logo{
  display:block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin-right: auto;
  width: 149px;
  height: 25px;
}
.header__nav__list{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
}
.header__nav__item{
margin-right: 48px;
}
.header__nav__link{
text-transform: uppercase;
display: inline-block;
text-decoration: none;
color: var(--color-dark-blue);
font-size: 13px;
line-height: 17px;
letter-spacing: 1.5px;
transition: color 0.3s ease;
}
.header__nav__link:hover{
  color: var(--color-pink);
}

.header__nav__button{
  text-decoration: none;
  padding: 12px 33px;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius:5px;
  background-color: var(--color-pink);
  color: var(--color-white);
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  transition: color, background-color 0.3s ease;
  box-sizing: border-box;
/* box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012); */
}
.header__nav__button:hover{
  background-color: var(--color-white);
  color: var(--color-pink);
  border: 2px solid var(--color-pink);
  box-sizing: border-box;
}

/* SITE HERO */
.site__main__hero{
  padding: 130px 0;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 600px) center;
  }

.hero__titles{
  width: 540px;
}
.hero__head{
  margin: 0;
  padding: 0;
  font-weight: 500;
font-size: 48px;
line-height: 52px;
letter-spacing: -0.15px;
margin-bottom: 24px;
}
.hero__content{
  margin: 0;
  padding: 0;
  opacity: 0.5;
  margin-bottom: 32px;
}
.hero__buttons{
  display: flex;
  align-items: center;
}
.buttons{
display: inline-block;
vertical-align: baseline;
padding: 10px 24px;
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 28px;
letter-spacing: 0.25px;
color: var(--color-white);
background-color: var(--color-blue);
border: 2px solid transparent;
border-radius: 5px;
transition: color, background-color 0.3s ease;
cursor: pointer;
}

.button--blue:hover{
  background-color: var(--color-white);
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
}
.buttons:active {
  opacity: 0.6;
}
.grey--button{
  margin-left: 16px;
background-color: var(--button-bg);
color: var(--color-dark-blue);
transition: all 0.3s ease;
}
.grey--button:hover{
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  border: 2px solid var(--color-dark-blue);
  }

  /* FEATURES */

.features-texts{
  width: 540px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.features-head{
  margin: 0;
  padding: 0;
  font-weight: 500;
font-size: 32px;
line-height: 52px;
text-align: center;
letter-spacing: -0.1px;
margin-bottom: 16px;
}
.features-content{
  margin: 0;
  padding: 0;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 40px;
}
.features-slider{
  width: 730px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid var(--color-grey);
  }
  .features-slider-buttons{
    display: inline-block;
    letter-spacing: 0.533333px;
    color:var(--color-dark-blue);
    mix-blend-mode: normal;
    opacity: 0.75;
    padding: 32px 41px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
  }
.active-slider{
  opacity: 1;
  border-bottom: 4px solid var(--color-pink);
}
.features-slider-buttons:hover{
  color: var(--color-pink);
}
.about-bookmark{
  margin-top: 129px;
  position: relative;
}
.about-bookmark-titles{
  width: 445px;
  position: relative;
  left: 650px;
}
.about-bookmark-head{
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
}
.about-bookmark-content{
  margin: 0;
  padding: 0;
  opacity: 0.5;
  margin-bottom: 32px;
}
.features{
  background-image: url(../img/bg-features.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px;
 }



/* EXTENSIONS */
.extensions{
  padding: 80px 0;
}

.extensions__header {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  text-align: center;
  margin-bottom: 36px;
}
.extensions__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}
.extensions__desc{
  margin: 0;
  opacity: 0.5;
}

.extensions__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
  margin-left: -36px;
  list-style: none;
  justify-content: center;
}
.extensions__item {
  width: 280px;
  margin-left: 36px;
  margin-bottom: -36px;
}
.extensions__item:nth-child(3n + 2){
  margin-top: 50px;
}

.extensions__item:nth-child(3n + 3){
  margin-top: 100px;
}

/* EXTENSION */
.extension {
  border-radius: 15px;
  background-color: var(--color-white);
  text-align: center;
  box-shadow: 0px 10px 20px rgba(73, 93, 207, 0.2);
}
.extension__top {
  padding: 180px 24px 32px;
  background-repeat: no-repeat;
  background-size: auto 100px;
  background-position: center 48px;
}
.extension--chrome .extension__top {
  background-image: url("../img/chrome.svg");
}

.extension--firefox .extension__top {
  background-image: url("../img/firefox.svg");
}

.extension--opera .extension__top {
  background-image: url("../img/opera.svg");
}
.extension__heading {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25px;
}
.extension__info {
  margin: 0;
  font-size: 15px;
  line-height: 28px;
  opacity: 0.5;
}
.extension__link-wrapper {
  position: relative;
  z-index: 1;
  padding: 24px;
}

.extension__link-wrapper::before {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  background-image: url("../img/devider.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}


@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    .site__main__hero {
    background-image: url("../img/hero-bg@2x.png");
  }
}
