@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
  url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
  url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root{
  --color-blue:#5267DF;
  --color-pink:#FA5959;
  --color-grey:#9194A2;
  --color-dark-blue:#242A45;
  --color-white:#fff;
  --button-bg:#F7F7F7;
}

html {
  box-sizing: border-box;
  height: 100%;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-dark-blue);
  mix-blend-mode: normal;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.site__header{
  padding: 48px 0;
}
.header__nav{
  display: flex;
  align-items: center;
}
.header__logo{
  display:block;
  margin-right: auto;
  width: 149px;
  height: 25px;
}
.header__nav__list{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.header__nav__item{
  margin-right: 48px;
}
.header__nav__link{
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: var(--color-dark-blue);
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  transition: color 0.3s ease;
}
.header__nav__link:hover{
  color: var(--color-pink);
}

.header__nav__button{
  text-decoration: none;
  padding: 12px 33px;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius:5px;
  background-color: var(--color-pink);
  color: var(--color-white);
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  transition: color, background-color 0.3s ease;
  box-sizing: border-box;
}
.header__nav__button:hover{
  background-color: var(--color-white);
  color: var(--color-pink);
  border: 2px solid var(--color-pink);
  box-sizing: border-box;
}

/* SITE HERO */
.site__main__hero{
  padding: 126px 0;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 600px) 50px;
}

.hero__titles{
  max-width: 540px;
}
.hero__head{
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  margin-bottom: 24px;
}
.hero__content{
  margin: 0;
  padding: 0;
  opacity: 0.5;
  margin-bottom: 32px;
}
.hero__buttons{
  display: flex;
  align-items: center;
}
.buttons{
  display: inline-block;
  vertical-align: baseline;
  padding: 10px 24px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border: 2px solid transparent;
  border-radius: 5px;
  transition: color, background-color 0.3s ease;
}

.button--blue:hover{
  background-color: var(--color-white);
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
}
.buttons:active {
  opacity: 0.6;
}
.grey--button{
  margin-left: 16px;
  background-color: var(--button-bg);
  color: var(--color-dark-blue);
  transition: all 0.3s ease;
}
.grey--button:hover{
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  border: 2px solid var(--color-dark-blue);
}

/* FEATURES */
.features{
  padding-top: 80px;
}
.features__header{
  width: 540px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.features__title{
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
}
.features__desc{
  margin: 0;
  padding: 0;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 40px;
}
.features-tabs{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 730px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid rgba(73, 93, 207, 0.20012);
  justify-content: space-between;
}
.features-tabs__item{
  border-bottom: 4px solid transparent;
}
.features-tabs__item--active{
  border-bottom: 4px solid var(--color-pink);
}

.features-tabs__item--active .features-tabs__link{
  opacity: 1;
}

.features-tabs__link{
  display: inline-block;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.533333px;
  color:var(--color-dark-blue);
  mix-blend-mode: normal;
  opacity: 0.75;
  padding: 27px 30px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.features-tabs__link:hover{
  color: var(--color-pink);
}

.features__bookmark-titles{
  width: 445px;
  position: relative;
  left: 650px;
}
.features__bookmark-head{
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
}
.features__bookmark-content{
  margin: 0;
  padding: 0;
  opacity: 0.5;
  margin-bottom: 32px;
}

/* PANELS */

.panels__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.panels__item {
  display: none;
}

.panels__item--active {
  display: block;
}

.panel {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("../img/bg-blue.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 650px) bottom;
}

.panel__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel__img {
  flex-shrink: 0;
}
.panel__content{
  max-width: 445px;
}


/* EXTENSIONS */
.extensions{
  padding-top: 170px;
  padding-bottom:80px;
}

.extensions__header {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 36px;
}
.extensions__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}
.extensions__desc{
  margin: 0;
  opacity: 0.5;
}

.extensions__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
  margin-left: -36px;
  list-style: none;
  justify-content: center;
}
.extensions__item {
  width: 280px;
  margin-left: 36px;
  margin-bottom: -36px;
}
.extensions__item:nth-child(3n + 2){
  margin-top: 50px;
}

.extensions__item:nth-child(3n + 3){
  margin-top: 100px;
}

/* EXTENSION */
.extension {
  border-radius: 15px;
  background-color: var(--color-white);
  text-align: center;
  box-shadow: 0px 10px 20px rgba(73, 93, 207, 0.2);
}
.extension__top {
  padding: 180px 24px 32px;
  background-repeat: no-repeat;
  background-size: auto 100px;
  background-position: center 48px;
}
.extension--chrome .extension__top {
  background-image: url("../img/chrome.svg");
}

.extension--firefox .extension__top {
  background-image: url("../img/firefox.svg");
}

.extension--opera .extension__top {
  background-image: url("../img/opera.svg");
}
.extension__heading {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25px;
}
.extension__info {
  margin: 0;
  font-size: 15px;
  line-height: 28px;
  opacity: 0.5;
}
.extension__link-wrapper {
  position: relative;
  z-index: 1;
  padding: 24px;
}

.extension__link-wrapper::before {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  background-image: url("../img/devider.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

/* FAQ */
.page-section {
  padding-top: 62px;
  padding-bottom: 150px;

}

.page-section__header {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  text-align: center;
}

.page-section__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  color: var(--color-dark-blue);
}

.page-section__desc {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 0.5;
}


.faq__list {
  max-width: 540px;
  padding: 0;
  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.faq__item {
  border-top: 1px solid rgba(36, 42, 69, 0.15);
}

.qa__header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 19px 0 13px;
}
.qa__header:hover .qa__question {
  color: var(--color-pink);
  transition: color 0.3s ease;
}

.qa__question {
  flex-grow: 1;
  margin: 0;
  margin-right: 15px;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;

}

.qa__toggler {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  margin-right: 15px;
  background-color: transparent;
}
.qa__answer {
  display: none;
  padding: 15px 0;
}

.qa--active .qa__answer {
  display: block;
}
.qa__toggler::before {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  cursor: pointer;
  background-image: url(../img/vektor.svg);
  background-repeat: no-repeat;
  background-position: right calc(15px) center;
}
.qa--active .qa__toggler::before{
  background-image: url(../img/up-arrow.svg);
  background-repeat: no-repeat;
}



.qa__answer-text {
  margin: 0;
}

.qa__answer-text:not(:last-child) {
  margin-bottom: 15px;
}
.faq__button-box{
  text-align: center;
  margin-top: 54px;
}


/* FORM */

.form{
  background-color: var(--color-blue);
  padding: 58px 74px;

}
.form__header{
  width: 408px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.form-box{
  display: flex;
  margin: 0;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.form__title{
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 5px;
  color: var(--color-white);
}
.form__desc{
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.1px;
  color: var(--color-white);
}
.form__input-group{
  position: relative;
}
.field{
  position: relative;
  z-index: 15;
  padding: 10px 10px 10px 20px;
  width: 300px;
  font-size: 14px;
  line-height: 28px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.form__button{
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  margin-left: 16px;
  text-transform: capitalize;
}
::placeholder{
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: rgba(36, 42, 69, 0.250109);
}

.field:not(:placeholder-shown):not(:focus):invalid + .input__error-text {
  display: block;
}

.field:not(:placeholder-shown):not(:focus):invalid {
  border: 1px solid var(--color-pink);
  background-image: url(../img/error-disc.svg);
  background-repeat: no-repeat;
  background-position:right calc(14px) center;
  background-size: 20px 20px;
}
.error-text {
  font-style: italic;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  letter-spacing: 0.25px;
  padding: 4px 12px 6px 12px;
  color: var(--color-white);
}
.input__error-text{
  position: absolute;
  display: none;
  z-index: 10;
  padding-top: 45px;
  top: -2px;
  left: -2px;
  border-radius: 5px;
  width: 304px;
  height: 72px;
  background-color:var(--color-pink);
  text-align: left;
}

/* FOOTER */
.site-footer {
  padding: 32px 0;
  background-color: var(--color-dark-blue);
}

.site-footer__inner {
  display: flex;
  align-items: center;
}

.logo-white {
  display:block;
  margin: 0;
  padding: 0;
  margin-right: 65px;
  width: 148px;
  height: 25px;
}
.footernav--white {
  margin-right: auto;
}
.footernav__list{
  display: flex;
  align-items: center;
}
.footernav__item ~ .footernav__item{
  margin-left: 46px;
}
.footernav__link{
  color: var(--color-white);
}

.social {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item:not(:last-child) {
  margin-right: 40px;
}

.social__link {
  display: flex;
  color: var(--color-white);
  transition: color 0.3s ease;
}

.social__link:hover {
  color: var(--color-pink);
}





@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site__main__hero {
    background-image: url("../img/hero-bg@2x.png");
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site__main__hero {
    background-image: url("../img/bg-features@2x.png");
  }
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site__main__hero {
    background-image: url("../img/bg-intelliegent@2x.png");
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site__main__hero {
    background-image: url("../img/bg-share@2x.png");
  }
}